# Created by .ignore support plugin (hsz.mobi)
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.nyc_output
.project
.scannerwork
.strong-pm
.vscode
/upload
coverage
node_modules
.db-data
.pg-data/
npm-debug.log
.env
.env.development
.env.production
.env.local
